/* main styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.popup__header {
  font-weight: 600;
  font-size: 0.9em;
}
.action__header {
  font-weight: 600;
  font-size: 0.7em;
}

.popup__textArea {
  height: 30em;
  width: 30em;
  font-size: 0.8em;
}

.popup__btn {
  background-color: #4caf50;
  border: none;
  color: #fff;
  display: block;
  height: 3em;
  margin-top: 1em;
  width: 10em;
}
.popup__btn:active {
  background-color: #009688;
}

.popup__btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
